.self {
  text-align: center;
}

.self_hasSecondary {
  text-align: left;
  flex-direction: row;
  padding: 0;
}

.main {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.self_hasSecondary .main {
  width: 50%;
}

.secondary {
  width: 50%;
  display: flex;
  flex-direction: column;
}
