.container {
  align-items: center;
}

.video {
  margin-right: 40px;
}

.video:last-of-type {
  margin-right: 0;
}

.videoContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
}
