.self {
  background: #353535;
  color: #fff;
  text-align: center;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.col {
  flex-direction: column;
  display: flex;
  justify-content: center;
  h2.Footer {
    margin-top: 30px;
    margin-bottom: 0;
  }
  p.description {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.player:global(.video-react) {
  height: 100% !important;
}

.videoWrapper {
  display: flex;
  justify-content: center;
}

.video {
  width: 300px;
  height: 200px;

  @media screen and (min-width: 576px) {
    width: 500px;
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    height: 400px;
  }

  @media screen and (min-width: 992px) {
    width: 840px;
    height: 555px;
  }
}
